{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <h1 class="mt-2 mb-3">Matches</h1>
        <h1 class="mt-2 mb-3"><a href="/team">Teams</a></h1>
      </div>
            {% for match in matches %}
            <div class="card p-2">
                <div class="card-body">
                  <h6 class="card-title text-center">Match ID: <a href="/match/{{match.id}}">{{match.id}}</a></h3>
                  <!-- <h6 class="card-subtitle text-center">Embrace for the match of century</h6> -->
                  <div class="d-flex flex-row justify-content-center m-4">
                    <div class="col-md-2">
                        <h4 class="text-center">{{match.team_one.name}}</h4>
                    </div>
                    <div class="col-md-1">
                        <h4 class="text-center"> VS </h4>
                    </div>
                    <div class="col-md-2">
                        <h4 class="text-center">{{match.team_two.name}}</h4>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
    </div>
{% endblock content %}